blinker==1.9.0
cachelib==0.13.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
distlib==0.3.9
et_xmlfile==2.0.0
filelock==3.17.0
Flask==3.1.0
Flask-Excel==0.0.7
Flask-MySQL==1.6.0
Flask-Session==0.8.0
gTTS==2.5.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
lml==0.2.0
MarkupSafe==3.0.2
msgspec==0.19.0
mysql-connector-python==9.3.0
openpyxl==3.1.5
platformdirs==4.3.6
playsound==1.2.2
PyAudio==0.2.14
pyexcel==0.7.3
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
PyMySQL==1.1.1
requests==2.32.3
SpeechRecognition==3.14.1
texttable==1.7.0
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.1
Werkzeug==3.1.3
